body {
  margin: 0;
}
body .mainBackground {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
body .main-page {
  position: absolute;
  z-index: 100;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-page .main-form-container {
  background-color: rgba(238, 238, 238, 0.46);
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 40px;
  border-radius: 15px;
  margin-bottom: 220px;
  margin-right: 30px;
}
body .main-page .main-form-container .main-form {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
body .main-page .main-form-container .main-form .main-form-impute {
  margin-bottom: 20px;
}
body .main-page .main-form-container .main-form .main-form-impute select {
  padding: 5px;
  color: #eeeeee;
  background-color: rgba(51, 26, 26, 0.534);
  font-size: 16px;
}
body .main-page .main-form-container .main-form .main-form-impute .player-ratio .ratio-label {
  font-size: 25px;
  font-family: Mallanna;
  color: #eeeeee;
  letter-spacing: 2px;
  font-weight: 500;
}
body .main-page .main-form-container .main-form .form-label {
  font-size: 30px;
  font-family: Mallanna;
  color: #eeeeee;
  margin: 0;
  letter-spacing: 2px;
  font-weight: 500;
}
body .main-page .main-form-container .button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body .main-page .main-form-container .button-container .main-form-submit {
  background-color: rgba(51, 26, 26, 0.534);
  color: #eeeeee;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Mallanna;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 10px;
  line-height: 10px;
  padding: 10px 40px;
  padding-top: 15px;
  border: none;
}

.boardContainer {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.boardContainer .board {
  order: 2;
  position: relative;
  height: 82.5vh;
  border: 1px solid rgba(168, 18, 8, 0.842);
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px rgb(255, 217, 0) solid;
  border-right: 2px rgb(255, 217, 0) solid;
  margin-top: 10vh;
  z-index: 100;
}
.boardContainer .board .boardBlock {
  background-color: rgba(0, 0, 0, 0.438);
  border-top: 3px rgb(255, 217, 0) solid;
  border-left: 3px rgb(255, 217, 0) solid;
  border-bottom: 3px rgb(105, 23, 2) solid;
  border-right: 3px rgb(107, 19, 4) solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boardContainer .board .boardBlock .character {
  height: 75%;
  width: 75%;
}

header {
  display: flex;
  align-items: center;
  position: absolute;
  height: 60px;
  top: 0;
  width: 100%;
  z-index: 200;
  justify-content: center;
  background-color: rgba(0, 25, 48, 0.747);
}

.playerInfo {
  height: 100vh;
  padding: 0px 30px;
  display: flex;
  width: 100px;
  align-items: center;
  flex-direction: column;
}
.playerInfo .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-color: rgba(78, 78, 85, 0.6117647059);
  height: 100px;
  width: 100px;
  border: #4e4e55 4px solid;
  border-radius: 50%;
}
.playerInfo .timer .timer-value {
  font-size: 60px;
  color: rgb(255, 238, 0);
  font-family: "Courier New", Courier, monospace;
}
.playerInfo .labelContainer {
  width: 90;
  height: 120;
  background-color: rgba(0, 0, 0, 0.61);
  height: -moz-min-content;
  height: min-content;
  padding-bottom: 100px;
}
.playerInfo .labelContainer .player-icon {
  position: relative;
  height: 120px;
  width: 90px;
  z-index: 100;
  top: 85px;
}
.playerInfo .labelContainer .label {
  height: 150px;
  position: absolute;
  z-index: 150;
  margin: 0;
  background-position: center;
  background-size: 120px 150px;
  font-size: 60px;
  line-height: 40px;
  font-weight: 900;
  margin-left: 30px;
  color: rgb(119, 1, 1);
}

.won-menu-container {
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  padding-top: 0px;
  display: none;
  justify-content: start;
  align-items: center;
  z-index: 500;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6156862745);
  top: 0px;
  left: 0px;
}
.won-menu-container .win-title {
  margin-top: 50px;
  font-size: 45px;
  font-weight: 900;
  color: #861010;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  margin-bottom: 30px;
}
.won-menu-container .content {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 200;
  padding-top: 20px;
}
.won-menu-container .content .won-menu-buttons {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.won-menu-container .content .won-menu-buttons button {
  margin: 5px;
  background-color: rgb(243, 199, 78);
  color: #811818;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
}
.won-menu-container .content .moves-background {
  top: -75px;
  left: -115px;
  position: absolute;
  width: 190%;
  z-index: 100;
}
.won-menu-container .content .moves-container {
  margin-top: 48px;
  padding-top: 0;
  height: 170px;
  overflow-y: scroll;
  padding: 30px;
  border-radius: 10px;
  padding-top: 45px;
  padding-top: 0;
}
.won-menu-container .content .moves-container .moveStr {
  position: relative;
  z-index: 200;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 700;
  color: rgb(180, 2, 2);
  min-width: 170px;
}/*# sourceMappingURL=mainMenu.css.map */